@font-face {
  font-family: 'Gilroy';
  src: url('/public/build/fonts/Gilroy.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy Medium';
  src: url('/public/build/fonts/GilroyMedium.otf');
  font-weight: 700;
  font-style: normal;
}